/*!****************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/styles/style.scss ***!
  \****************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Lato:wght@400;700;&display=swap);
/*!********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/styles/style.scss (1) ***!
  \********************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);
/*!********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/styles/style.scss (2) ***!
  \********************************************************************************************************************/
*,
*::before,
*::after {
  box-sizing: border-box;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.text {
  font-size: 12px;
  line-height: 1.46;
  color: #35373b;
  display: block;
  text-align: center;
  margin-block-start: unset;
  margin-block-end: unset;
}

@media (min-width: 768px) {
  .text {
    font-size: 15px;
    line-height: 21.92px;
  }
}
@media (min-width: 1280px) {
  .text {
    text-align: left;
  }
}
.button {
  display: inline-block;
  background-color: #4073ff;
  color: #ffffff;
  font-weight: 400;
  font-size: 12px;
  line-height: 23.4px;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  width: fit-content;
  border: none;
  border-radius: 6px;
}
.button:hover {
  opacity: 0.8;
}
.button:active {
  opacity: 0.8;
}

@media (min-width: 768px) {
  .button {
    font-size: 15px;
    padding: 15px 30px;
  }
}
.title {
  display: block;
  color: #35373b;
  text-align: center;
  margin-block-start: unset;
  margin-block-end: unset;
}

.title--h1 {
  font-size: 72px;
  line-height: 1.2;
  font-weight: 700;
}

.title--h2 {
  font-size: 26px;
  line-height: 1.2;
}

.title--h3 {
  font-size: 18px;
  line-height: 1.32;
}

.title span {
  text-decoration: underline;
  text-underline-offset: 4px;
}

@media (min-width: 768px) {
  .title--h1 {
    font-size: 90px;
    line-height: 108px;
  }

  .title--h2 {
    font-size: 32px;
    line-height: 38.4px;
  }

  .title--h3 {
    font-size: 22px;
    line-height: 29.04px;
  }
}
@media (min-width: 1280px) {
  .title {
    text-align: left;
  }
}
.container {
  display: block;
  min-width: 280px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  max-width: 1170px;
  width: 100%;
}

@media (min-width: 768px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1280px) {
  .container {
    padding: 0;
  }
}
.main {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  .main {
    padding-top: 100px;
    padding-bottom: 120px;
  }
}
.image {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.block__container {
  display: flex;
  justify-content: center;
}

.block__about {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 22px;
  max-width: 486px;
  padding-top: 35px;
  padding-bottom: 35px;
}

.block__image-wrapper {
  display: none;
}

.block__timer-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 25px;
}

@media (min-width: 768px) {
  .block__timer-wrapper {
    margin-top: 34px;
  }
}
@media (min-width: 1280px) {
  .block__container {
    justify-content: space-between;
  }

  .block__image-wrapper {
    max-width: 600px;
    display: block;
  }

  .block__about {
    padding-top: 37px;
    padding-bottom: 55px;
    align-items: start;
  }
}
.header {
  border-bottom: 1px solid #ececf0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.header__text {
  font-size: 12px;
  line-height: 1.2;
  color: #72757d;
  display: block;
  text-align: center;
}

@media (min-width: 768px) {
  .header {
    padding-top: 26px;
    padding-bottom: 21px;
  }

  .header__container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .header__text {
    font-size: 15px;
  }
}
.social {
  display: flex;
  gap: 14px;
}

.social__item {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #4073ff;
  display: block;
}

.social__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__link:hover {
  opacity: 0.8;
}

.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #ececf0;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__copyright {
  color: #72757d;
  font-size: 12px;
  line-height: 1.92;
}

@media (min-width: 768px) {
  .footer {
    padding-top: 27px;
    padding-bottom: 27px;
  }

  .footer__copyright {
    color: #72757d;
    font-size: 16px;
    line-height: 30.72px;
  }
}
.timer {
  color: #4073ff;
  font-size: 22px;
  line-height: 25.78px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
