$background-color: #ffffff;

$border-color: #ececf0;

$text-color: #35373b;
$text-color-accent: #ffffff;
$text-color-additional: #72757d;
$text-color-secondary: #828282;
$text-color-custom: #4073ff;

$font: "Lato", "Arial", sans-serif;

$tablet: 768px;
$desktop: 1280px;